data/
saves/
.crunchdao/
.vscode/
feature_dfs/
__pycache__/
try_features/
catboost_info/
resources/
.ipynb_checkpoints/

*.csv
*.parquet
*.pkl
*.jpg
*.jpeg
*.gif
*.bmp
.cursor/
*.pyc

try.ipynb
experiment/__pycache__/
experiment/.ipynb_checkpoints/