pandas==2.2.3
numpy==2.2.6
scipy==1.15.3
statsmodels==0.14.4
antropy==0.1.9
tsfresh==0.21.0
ruptures==1.1.9

matplotlib==3.10.3
seaborn==0.13.2

tqdm==4.67.1
lightgbm==4.6.0
xgboost
catboost
scikit-learn==1.6.1
optuna==4.4.0

pyarrow==16.1.0
# sktime==0.38.3
# skchange[numba]==0.13.0
# PyWavelets==1.8.0

# Deep Learning
# torch
# lightning
# datasets
# swanlab